.carousel-section {
	width: 100%;
	padding-top: 0;
	margin-top: -8em;
	position: relative;
	z-index: 1;

	.movies-section {
		position: relative;
		padding: 0 3rem;
	}
	.movies-section.small-version {
		.slide-item {
			height: 130px;
		}
		.next-arrow,
		.prev-arrow {
			height: 130px;
		}
	}

	.next-arrow,
	.prev-arrow {
		position: absolute;
		right: -1px;
		height: 400px;
		width: 3rem;
		bottom: 4px;
		border-radius: 4px;
		font-size: 1.7em;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.353);
		cursor: pointer;
		transition: background 0.2s ease;

		span {
			transition: transform 0.2s ease;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.53);
			span {
				transform: scale(1.2);
			}
		}
	}
	.prev-arrow {
		right: unset;
		left: -1px;
	}

	.section-title {
		font-size: 1.4em;
		margin: 3rem 0 1rem 0;
	}
	.carousel {
		white-space: nowrap;
		transition: transform 1s ease;

		.slide-item {
			width: 20%;
			height: 400px;
			display: inline-block;
			padding: 0 2px;
		}
		.slide-item.last-item {
			.movie {
				transform-origin: right;
			}
		}
		.slide-item.first-item {
			.movie {
				transform-origin: left;
			}
		}

		.movie {
			position: relative;
			width: 100%;
			height: 100%;
			background: #fff;
			margin-right: 0.3rem;
			border-radius: 5px;
			background-size: cover;
			background-position: center;
			transition: transform 1s ease;
			overflow: hidden;

			.hovered-show {
				position: absolute;
				display: flex;
				align-items: flex-end;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				padding: 0.5rem;
				opacity: 0;
				// display: none;
				transition: opacity 1s ease;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.2);
					z-index: 0;
				}

				.content-hovered {
					width: 100%;
					position: relative;
					z-index: 10;

					.buttons-section {
						display: flex;
						justify-content: space-between;

						div {
							display: flex;
						}
					}
					button {
						position: relative;
						font-size: 1.3em;
						width: 45px;
						height: 45px;
						margin-right: 0.5rem;
						border: none;
						border-radius: 50%;
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;

						.icon-tooltip {
							background: #fff;
							color: #000;
							position: absolute;
							top: -110%;
							padding: 0.3rem 0.5rem;
							font-size: 0.9em;
							border-radius: 5px;
							font-weight: bold;
							opacity: 0;
							transition: opacity 0.2s ease;

							&::after {
								content: " ";
								position: absolute;
								top: 99%;
								left: 50%;
								margin-left: -5px;
								border: 5px solid transparent;
								border-top-color: #fff;
							}
						}

						&:hover {
							background: rgba(148, 148, 148, 0.571);

							.icon-tooltip {
								opacity: 1;
							}
						}
					}
					.btn-add {
						color: #fff;
						background: transparent;
						border: 1px solid #fff;
					}
					.btn-info {
						color: #fff;
						background: rgba(99, 99, 99, 0.571);
						border: 1px solid transparent;
						margin-right: 0;
					}

					.text-section {
						h4 {
							margin: 0.5rem 0;
							font-weight: bold;
						}
						p {
							font-size: 0.8em;
							color: rgb(5, 193, 74);
						}
						.age-res {
							color: #fff;
							font-size: 0.9em;
							padding: 0.05rem;
							border: 1px solid #fff;
							margin: 0 0.3rem;
						}
						span {
							color: #fff;
						}
					}
				}
			}

			&:hover {
				transform: scale(1.2);
				z-index: 100;

				.hovered-show {
					// display: block;
					opacity: 1;
				}
			}
		}
	}
	.small-version {
		.movie {
			overflow: visible;
			transition: transform 0.4s ease;

			&:hover {
				transform: scale(1.2) translateY(-41px);
			}

			.hovered-show {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.3);
				.content-hovered {
					width: 100%;
					position: absolute;
					bottom: -67%;
					left: 0;
					z-index: 10;
					background: #141414;
					box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.3);
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					z-index: 10;

					.content {
						transform: scale(0.9);
					}
					.buttons-section {
						margin-top: 0.3rem;
					}
					button {
						font-size: 0.9em;
						width: 30px;
						height: 30px;
					}

					.text-section p {
						padding: 0.5rem 0 0.5rem 0;
						margin: 0;
						font-size: 0.7em;
					}
					.text-section h4 {
						font-size: 0.9em;
						margin: 0.5rem 0 0 0;
					}
				}
			}
		}
	}
}
