.notification {
	cursor: pointer;
	position: relative;

	.bell {
		width: 20px;
	}
	.notifications-count {
		font-size: 0.7em;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: -5px;
		right: -3px;
		background: red;
		border-radius: 50%;
		width: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 16px;
	}
	.notification-dropdown {
		position: absolute;
		top: 133%;
		right: 0;
		&::after {
			content: "";
			position: absolute;
			top: 5px;
			right: 2px;
			border-style: solid;
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #e7e7e7 transparent;
		}
	}
	.notify-hidden {
		opacity: 0 !important;
	}
	.notify-enter {
		opacity: 0;
	}
	.notify-enter-active,
	.notify-enter-done {
		opacity: 1;
		transition: opacity 200ms;
	}
	.notify-exit {
		opacity: 1;
	}
	.notify-exit-active {
		opacity: 0;
		transition: opacity 200ms;
	}

	.notify-exit-done {
		display: none;
	}
	.notifications {
		width: 400px;
		height: 450px;
		overflow-y: scroll;
		background: rgba(0, 0, 0, 0.85);
		margin-top: 1rem;

		.notify {
			display: flex;
			justify-content: flex-start;
			text-align: left;
			color: rgba(255, 255, 255, 0.666);
			padding: 1rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.279);

			.notify-bg {
				width: 30%;
				height: 60px;
				border-radius: 5px;
				background: #cccbcb;
				background-size: cover;
				margin-right: 1rem;
			}
			.notify-article {
				width: 70%;
				.notify-title {
					font-size: 1.2em;
					font-weight: normal;
					margin: 0;
				}
				.notify-text {
					color: #a9a9a9bb;
					font-size: 0.7em;
					margin-top: 0.4rem;
				}
			}
			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}
}
